.default .oc-dialog .main {
	width: 100% !important;
	margin: 0 !important;
}

.default .oc-dialog [data-oc-control=Button] {
	background-color: #35a7db !important;
	border: 0;
	text-shadow: 2px 2px #0e3140;
	width: 300px !important;
}

[data-oc-control=ListControl] {
    height: 390px !important;
    width: 100% !important;
    margin: 0 !important;
}

.default .oc-dialog .oc-listitem {
	position: relative;
	display: flex !important;
	height: 125px !important;
	align-items: center;
	padding: 0 0 0 100px;
}

.default .oc-dialog .oc-listitem::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	height: 3px;
	width: 100%;
	background-color: #000000;
}

.default .oc-dialog .oc-listitem:last-child::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	height: 3px;
	width: 100%;
	background-color: #000000;
}

.default .oc-dialog .oc-listitem .oc-listitem__text {
	margin: 0 0 0 20px;
}

.default .oc-dialog .oc-listitem .oc-listitem__text::before {
	content: '';
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: absolute;
    margin: auto;
    height: 60px !important;
    width: 60px !important;
    right: 50px !important;
    top: 0;
    bottom: 0;
    border: solid 3px #9e9e9e !important;
    border-radius: 50%;
    background-color: #1e1e1e;
}

.default .oc-dialog .oc-listitem.selected{
	background-color: #1e1e1e;
}

.default .oc-dialog .oc-listitem.selected .oc-listitem__text::before {
	border: solid 3px #35a7db !important;
}

.default .oc-dialog .oc-listitem.selected .oc-listitem__text::after {
	content: '';
	display: block;
	position: absolute !important;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #35a7db;
	right: 58px !important;
	margin: auto;
	top: 0;
	bottom: 0;
}

.default .oc-dialog .footer {
	margin: 15px auto !important;
}

/*[data-oc-control=ListControl] .oc-listitem {
	padding: 0 !important;
	width: 100% !important;
	height: 110px !important;
}*/

/*[data-oc-control=ListControl] .oc-listitem::before {
	content: '';
	padding: 0 !important;
	width: 92% !important;
	right: 0;
	border-top: 3px solid #000000 !important;
}*/

/*[data-oc-control=ListControl] .oc-listitem[data-selected=true] {
	background-color: #1e1e1e !important;
}*/

/*[data-oc-control=ListControl] .oc-listitem .oc-listitem__status {
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: absolute;
    margin: auto;
    height: 56px !important;
    width: 56px !important;
    right: 50px !important;
    top: 0;
    bottom: 0;
    border: solid 3px #9e9e9e !important;
    border-radius: 50%;
    background-color: #1e1e1e;
}*/

/*[data-oc-control=ListControl] .oc-listitem[data-selected=true] .oc-listitem__status {
	border: solid 3px #35a7db !important;
}*/

/*[data-oc-control=ListControl] .oc-listitem[data-selected=true] .oc-listitem__status0 {
	display: block;
	position: relative !important;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #35a7db;
	right: 0 !important;
	top: 0 !important;
}*/

/*[data-oc-control=ListControl] .oc-listitem .oc-listitem__text0 {
	display: flex !important;
	align-items: center !important;
}

[data-oc-control=ListControl] li[data-item-type=radio].selected::after {
	background-color: #35a7db;
}*/
