#add-to-chamber [data-oc-control=CustomButton] {
	background-color: #35a7db !important;
	border: 0;
	text-shadow: 2px 2px #0e3140;
	width: 300px !important;
}

#add-to-chamber [data-oc-control=ListControl] {
    height: 70% !important;
    width: 100% !important;
    margin: 0 !important;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem {
	position: relative;
	display: flex !important;
	height: 125px !important;
	align-items: center;
	padding: 0 0 0 100px;
	font-family: 'Roboto-Light';
    font-size: 44px;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	height: 3px;
	width: 100%;
	background-color: #000000;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem:last-child::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	height: 3px;
	width: 100%;
	background-color: #000000;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem .oc-listitem__text {
	margin: 0 0 0 20px;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem .oc-listitem__text::before {
	content: '';
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: absolute;
    margin: auto;
    height: 60px !important;
    width: 60px !important;
    right: 50px !important;
    top: 0;
    bottom: 0;
    border: solid 3px #9e9e9e !important;
    border-radius: 50%;
    background-color: #1e1e1e;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem.selected{
	background-color: #1e1e1e;
	font-weight: bold;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem.selected .oc-listitem__text::before {
	border: solid 3px #35a7db !important;
}

#add-to-chamber [data-oc-control=ListControl] .oc-listitem.selected .oc-listitem__text::after {
	content: '';
	display: block;
	position: absolute !important;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #35a7db;
	right: 58px !important;
	margin: auto;
	top: 0;
	bottom: 0;
}
